body {
  margin: 0;
}
.Title{
  background-color: blueviolet;
}

.main {
  padding: 8px;
  outline: black;
  outline: 2px;
}

.item {
  display: flex;
  align-items: center;
  border: 1px solid red;
  padding: 2px;
  max-width: 200px;
}

/* .item + .item {
  margin-top: 4px;
}

.item > * + * {
  margin-left: 4px;
} */
